@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
body {
    font-family: 'M PLUS Rounded 1c', 'Poppins', sans-serif;
    background-color: #fff3e0;
    color: #5d4037;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: 
        radial-gradient(#ffcc80 20%, transparent 20%),
        radial-gradient(#ffd180 20%, transparent 20%);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-image: url('img/header.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}
.logo {
    width: 300px;
    height: 90px;
    object-fit: cover;
    filter: drop-shadow(0 2px 3px rgba(0,0,0,0.3));
}
@keyframes slide {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
h1 {
    color: #c05f15;
    font-size: 2.5em;
    margin: 0px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    position: relative;
}
.mascot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #ffa726;
    margin: 20px auto;
    display: block;
    box-shadow: 0 0 15px rgba(255, 167, 38, 0.6);
}
.section {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 2px dashed #ffcc80;
}
h2 {
    color: #ff9800;
    border-bottom: 2px dashed #ff9800;
    padding-bottom: 10px;
    position: relative;
}
h2::after {
    content: "🍮";
    position: absolute;
    right: 0;
    bottom: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
li::before {
    content: "🍮";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.social-links a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.social-links a:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15);
}
.social-links img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.youtube { background-color: #FF0000; }
.twitter { background-color: #1DA1F2; }
.twitch { background-color: #9146FF; }
.booth { background-color: #FC4D50; }